<% if @order.errors.messages.length > 0 %>
<section>
  <h2> Something went wrong</h2>
  <ul>
    <%@order.errors.messages.each do |field, problems| %>
      <% problems.each do |problem| %>
        <li>
          <%= field %>
          <%= problem %>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
<%end%>

<section>
  <h1>Checkout</h1>
  <%= form_for @order do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :mailing_address %>
    <%= f.text_field :mailing_address %>
    <%= f.label :card_name %>
    <%= f.text_field :card_name %>
    <%= f.label :credit_card %>
    <%= f.text_field :credit_card %>
    <%= f.label :cvv %>
    <%= f.text_field :cvv %>
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
    <%= f.submit value: "Complete order" %>
  <% end %>
</section>
