<section>
  <h1>List of all orders: </h1>
  <% if @orders.length != 0%>
    <%@orders.each do |o|%>
      <%if o.products.length < 1%>
        <%next%>
      <%end%>
      <h2>Order <%=o.id%></h2>
      <p>Order date and time:<%=o.paid_at%></p>
      <p>Order status:<%=o.status%> </p>
      <p>Order total $:<%=o.total_price%> </p>
      <h3>Order products: </h3>
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
        <%o.products.each do |pr|%>
          <tr>
            <td><%=link_to pr.name, product_path(pr.id)%></td>
            <td><%=OrderProduct.find_by(product_id: pr.id, order_id: o.id).quantity%></td>
            <td><%=OrderProduct.find_by(product_id: pr.id, order_id: o.id).subtotal%></td>
          </tr>
        <%end%>
      </table>
    <%end%>
    <%else%>
    <p>There is no orders</p>
  <%end%>
</section>
