<h1>Shopping cart:</h1>
<section>
  <%if @shopping_cart_products == nil || @shopping_cart_products.length == 0%>
    <p> Shopping cart is empty </p>
  <%else%>
    <%@shopping_cart_products.each do |op|%>
      <p>Name of product:<%=link_to op.product.name, product_path(op.product.id)%></p>
      <p>Quantity:<%=op.quantity%>
       <%= form_for op do |f| %>
          <%= number_field_tag("quantity", 1, min: 1, max: op.product.stock) %>
          <%= hidden_field_tag("order_id", @order.id)%>
          <%= hidden_field_tag("product_id", op.product.id)%>
          <%= f.submit value: "Update quantity" %>
      <% end %></p>
      <p>Unit price:<%=op.product.price%>
      <p>Subtotal:<%=op.subtotal%></p>
      <p><%=link_to "Delete from cart", order_product_path(op.id), method: :delete, data: {confirm: 'Are you sure?' }%>
    <%end%>
    <p>Order Total: <%=@order.total_price%></p>
    <p><%=link_to "Checkout", edit_order_path(@order.id)%> </p>
  <%end%>
</section>
