<section class = "row">
  <h2 class="text-left">Merchant details:</h2>
  <section class = "large-6 medium-6 small-12 column">
    <p>Username: <%=@merchant.username%></p>
    <p>Email: <%=@merchant.email%></p>
    <p>Merchant id: <%=@merchant.id%></p>
    <p> Total Revenue: $<%= '%.2f' %(@merchant.total_revenue) %></p>
  </section>
  <section class = "large-6 medium-6 small-12 column">
    <div class=" button-group">
    <%= button_to "My products", merchant_products_path(@merchant.id), method: :get , class: "button hollow topbar-responsive-button user-button"%>
    <%= button_to "Add new product", new_merchant_product_path(@merchant), method: :get, class: "button hollow topbar-responsive-button user-button"%>
    <%= button_to "All Categories", categories_path, method: :get, class: "button hollow topbar-responsive-button user-button"%>
    <%= button_to "New Category", new_category_path, :method => :get, class: "button hollow topbar-responsive-button user-button"%>
  </div>
  </section>
</section>


<ul class="dropdown menu" data-dropdown-menu>
  <li><a href="#">Sort orders by status type</a>
    <ul class="menu vertical">
      <li><%= link_to "All orders", {controller: 'merchants', action: 'show'}%></li>
      <li><%= link_to "Paid", {controller: 'merchants', action: 'show', :status => 'paid'}%></li>
      <li><%= link_to "Cancelled", {controller: 'merchants', action: 'show', :status => 'cancelled'}%></li>
      <li><%= link_to "Completed", {controller: 'merchants', action: 'show', :status => 'complete'} %></li>
      <li><%= link_to "Pending", {controller: 'merchants', action: 'show', :status => 'pending'} %></li>
    </ul>
  </li>
</ul>
<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <%if @orders_by_status.length > 0%>
      <p>Total revenue by status: <%=@merchant.revenue_by_status(params[:status])%></p>
      <% @orders_by_status.each do |order| %>
         <% order.order_products.each do |op|%>
            <%if op.product.merchant == @merchant %>
              <%= render partial: "orders_table", locals: {order: order, as_merchant: @merchant} %>
            <%else%>
                <%next%>
            <%end%>
          <% end %>
        <% end %>
      <%else%>
        <% @merchant.my_orders.each do |order| %>
          <%= render partial: "orders_table", locals: {order: order, as_merchant: @merchant} %>
        <% end %>
      <% end %>
  </tbody>
</table>
