

<section>
  <h2>Merchant details:</h2>
  <p>Username: <%=@merchant.username%></p>
  <p>Email: <%=@merchant.email%></p>
  <p>Merchant id: <%=@merchant.id%></p>
  <p><%=link_to "Merchant products", merchant_products_path(@merchant.id)%></p>
  <%= link_to "Add products for merchant", new_merchant_product_path(@merchant, @product)%>

<%= button_to "Add a new product", new_merchant_product_path(@merchant), method: :get%>
<%= button_to "All Categories", categories_path, method: :get%>
</section>
