<section>
  <h2 class="text-center">Merchant details:</h2>
  <p>Username: <%=@merchant.username%></p>
  <p>Email: <%=@merchant.email%></p>
  <p>Merchant id: <%=@merchant.id%></p>

  <p> Total Revenue: <%= @merchant.total_revenue %></p>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Date</th>
      <th>Status</th>
      <th>Mark As Shipped?</th>
    </tr>
  </thead>
  <tbody>
  <% @merchant.products.each do |product| %>
    <% product.orders.each do |order| %>
    <tr>
    <td><%= link_to "Order ##{order.id}", order_path(order.id) %></td>
    <td><%= order.paid_at.strftime("%b %d, %Y at %I:%M %P") %></td>
    <td><%= order.status.capitalize %></td>
    <% if order.status == "paid" %>
      <td><%= button_to "Ship Order", complete_order_path(order.id), method: :get %></td>
    <% else %>
      <td>Order Shipped</td>
    <% end %>
  </tr>
    <% end %>
  <% end %>
</tbody>
</table>
  <%= button_to "My products", merchant_products_path(@merchant.id), method: :get %>
<%= button_to "Add a new product", new_merchant_product_path(@merchant), method: :get%>
<%= button_to "All Categories", categories_path, method: :get%>
  <%= button_to "New Category", new_category_path, :method => :get%>

</section>
