<section>
  <h2>Merchant details:</h2>
  <p>Username: <%=@merchant.username%></p>
  <p>Email: <%=@merchant.email%></p>
  <p>Merchant id: <%=@merchant.id%></p>
  <%= @merchant.total_revenue %>

  <% @merchant.products.each do |product| %>
  <% product.orders.each do |order| %>
  <%= link_to "Order ##{order.id}", order_path(order.id) %>
  <% end %>
  <% end %>

  <%= button_to "My products", merchant_products_path(@merchant.id), method: :get %>
<%= button_to "Add a new product", new_merchant_product_path(@merchant), method: :get%>

</section>
