
<section>
  <%= form_for [@merchant, @product] do |f| %>


    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :price %>
    <%= f.text_field :price %>

    <%= f.label :photo_url %>
    <%= f.text_field :photo_url %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :stock %>
    <%= f.text_area :stock %>

    <%= f.hidden_field :merchant_id, :value => @merchant.id%>

    <%= f.submit button_text %>

  <% end %>
</section>
