<h2> <%= @product.name %> </h2>

  <%= image_tag @product.photo_url, alt:"picture of #{@product.name}"%>

<br/>
<%= "Price: $#{@product.price}" %>
<br/>
<%= "In Stock: #{@product.stock}" %>
<br/>
<%= "Description: #{@product.description}" %>
