<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if @current_user != nil %>
      <p>Logged in as <%= link_to @current_user.username, merchant_path(@current_user) %></p>
      <%= link_to "Log Out", logout_path, method: :delete, class: "button float-right" %>
    <% else %>
      <p>Not logged in</p>
      <%= link_to "Log In", '/auth/github', class: "button float-righ" %>
    <% end %>
  </header>
    <%= yield %>
  </body>
</html>
